<?php

return [
    "db" => [
        "host" => "localhost",
        "port" => 3306,
        "user" => "root",
        "password" => "",
        "dbname" => "service_framework"
    ],
    "db_test" => [
        "host" => "localhost",
        "port" => 3306,
        "user" => "root",
        "password" => "",
        "dbname" => "service_framework_test"
    ]
];